.extraInfoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.extraInfoBox {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 16px;
  padding: 30px;
  width: 70%;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  scrollbar-width: none;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.exerciseName {
  text-align: center;
  margin: 24px;
}

.musclesActiveImg {
  margin: 24px;
}

.musclesActiveImgUrl {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
