.cameraContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.counter {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100px;
  height: 80px;
  font-size: 80px;
  text-align: center;
  background-color: red;
}

.exerciseDescription {
  margin-top: 10px;
  margin: 0px;
  width: 200px;
}

/* TODO
@media (max-width: 485px) {
  .counter {
    top: 50%;
  }
} */
