.cameraContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    overflow: hidden
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden
}

